* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 100%;
  font-weight: inherit;
}

@import "reset";
@import "variables";
@import "header";
@import "nav";

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  grid-column-gap: $card-gap;
  grid-row-gap: 50px;
  justify-content: center;

  @media (min-width: (4*$card-width + 3*$card-gap)) {
    grid-template-columns: repeat(4, $card-width);
  }
}

@import "product";
@import "stars";
