* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 100%;
  font-weight: inherit;
}

@import "reset";
@import "variables";
@import "header";
@import "nav";

.main {
  display: flex;
  justify-content: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-column-gap: $card-gap;
  grid-row-gap: 50px;
  max-width: 4*$card-width + 4*$card-gap;
}

@import "product";
@import "stars";
